<!DOCTYPE html>

<html>
  <head>
      <title>About</title>
      <link rel="icon" href="/img/download.png">
      <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>Hi, I'm Jana. I design and code beautifully simple things, and I love what I do. This website uses data from mapbox.com and darksky.net</p>
      <img class="portrait" src="/img/zcamera-20161026_232945.jpg"> 
    </div>

    {{>footer}}
  </body>
</html>
